<div class="modal" id="modal-topic-menu" tabindex='-1' role='dialog'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header jr-dark-body">
				<button type="button" class="close jr-dark-body" data-dismiss='modal'>
					&times;
				</button><br>
			</div>
			<div class="modal-body">
				<div class="jr-dark-body">
					<div class="row text-center">
						<h3>Pick a Topic</h3>
					</div>
					<div class="row spacer">
						
						<div class="col-xs-4 col-sm-offset-2">
							<%= link_to "Bootstrap", bootstrap_home_path,
								class: 'btn btn-large btn-block btn-warning btn-ghost'%>
						</div>
						<div class="col-xs-4">
							<%= link_to "Rails", rails_home_path, 
								class: 'btn btn-large btn-block btn-success btn-ghost'%>
						</div>								
					</div>    
					<div class="row spacer">
					</div>

				</div><br>
				<div class="modal-footer"></div>
			</div>
			
		</div>
	</div>
</div>